{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContaColab - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    
    <header class="header">
        <h1 class="logo-small">ContaColab <span class="logo-icon">💵</span></h1>

        {% include 'partials/navbar.html' %}
        
    </header>

    <main class="main-content">
        {% block content %}

            {% endblock %}
    </main>

    {% block extra_js %}

    {% endblock %}
    
</body>
</html>