{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form class="glass-box">
    <p class="panel-title">Acesso ao Sistema</p>
    
    <label for="usuario">Usuário:</label>
    <input type="usuario" id="usuario" name="usuario" required>
    
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit" class="submit-button">
        →
    </button>
</form>
{% endblock %}